<h1>About this CRUD APP</h1>
<h2><em>CRUDman's creed:</em> </h2>
<h3>This is my CRUD app. There are many like it, but this one is mine. My CRUD app is my best friend. It is my life. I must master it, as I must master my life. Without me, my CRUD app is useless. Without my CRUD app, I am useless. I must make my CRUD app true. I must make my CRUD app more useful than my last. I must make it more useful else it stays useless. I will. Before God, I swear this creed. My CRUD app and myself are defenders of utility. We are the masters of our uselessness. We are the saviors of my usefulness. So be it, until there is no uselessness, but utility. Amen.</h3>
